{% raw %}{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{{cookiecutter.project_name}}{% endblock title %}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    {% block head_js %}{% endblock head_js %}
  </head>

  <body>
    {% block content %}{% endblock content %}

    {% block javascript %}
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>{% endraw %}